<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">Ir a login</a>
    </li>
    <li>
        <a routerLink="/auth/registro">Ir a registro</a>
    </li>
    <li>
        <a routerLink="/heroes/listado">Ir a Heroes</a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">Agregar Heroe</a>
    </li>
    <li>
        <a routerLink="/heroes/editar/:id">Editar Heroe</a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">Buscar Heroe</a>
    </li>
    <li>
        <a routerLink="/:id">Heroe detail</a>
    </li>

</ul>
